<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="format-detection" content="telephone=no" />
<title>老鹰画室 首页</title>

<!-- 公用css及js start -->
<link rel="stylesheet" href="../static/css/common.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<!-- 公用css及js end -->
<link rel="stylesheet" href="../static/css/home.css" />

</head>
<body>
<!-- 公用搜索 start -->
<div class="navbar_wrap">
    <div class="navbar_header">
        <div class="navbar_hd">
            <a href="" class="logo"><img src="../static/img/ft_logo.png" alt="logo"></a>
            <span class="navbar_close"><i></i></span>
        </div>
        <div class="navbar_collapse">
            <div class="navbar_search">
                <form action=""  method="post">
                    <input type="text" placeholder="搜索一下" id="search" class="ipt_txt" name="search">
                    <button type="submit" class="search_btn"><i class="search_icon"></i></button>
                </form>
            </div>
            <div class="navbar_nav">
                <dl>
                    <dt><em>jlfajdflajsdfssssss</em><span class="fr navbar_arrow"><i></i></span></dt>
                    <dd>
                        <a href="">aaaa</a>
                        <a href="">aaaa</a>
                        <a href="">aaaa</a>
                    </dd>
                </dl>
                <dl>
                    <dt><em>tttt</em><span class="fr navbar_arrow"><i></i></span></dt>
                    <dd>
                        <a href="">aaaa</a>
                        <a href="">aaaa</a>
                        <a href="">aaaa</a>
                    </dd>
                </dl>
            </div>
            <div class="navbar_contact">
                <a href="" class="navbar_qq"><img src="../static/img/qq.png" alt=""></a>
                <a href="" class="navbar_sina"><img src="../static/img/sina.png" alt=""></a>
                <a href="" class="navbar_wx"><img src="../static/img/wx.png" alt=""></a>
                <a href="tel:4001178866" class="navbar_tel">TEL:400-117-8866</a>
            </div>
        </div>
    </div>
    <div class="navbar_dialog"></div>
</div>
<!-- 隐藏菜单按钮 -->
<button class="navbar_toggle"><span class="icon_bar"></span><span class="icon_bar"></span><span class="icon_bar"></span></button>
<!-- 公用搜索 end -->
<!-- 主页 -->
<div class="container">
	<div class="w1">
		<img src="../static/img/home/logo.png" class="w1_logo">
		<img src="../static/img/home/banner.jpg" class="w1_banner">
		<div class="ft_about">
            <a class="w1_btn_jump" data-order="0">最新成绩</a>
            <a class="w1_btn_jump" data-order="1">招生简章</a>
            <a class="w1_btn_jump" data-order="2">资讯</a>
            <a class="w1_btn_jump" data-order="3">服务专区</a>
            <a class="w1_btn_jump" data-order="4">校区介绍</a>
        </div>
	</div>
	<div class="w2">
		<h1>最新成绩</h1>
		<a href="" class="w2_row1"><img src="../static/img/home/w2_i1.jpg"></a>
		<a href="" class="w2_row2"><img src="../static/img/home/w2_i2.jpg"></a>
		<div class="w2_row3">
			<a href="" class="w2_row3_1"><img src="../static/img/home/w2_i3_1.jpg"></a>
			<a href="" class="w2_row3_2"><img src="../static/img/home/w2_i3_2.jpg"></a>
			<a href="" class="w2_row3_3"><img src="../static/img/home/w2_i3_3.jpg"></a>
			<a href="" class="w2_row3_4"><img src="../static/img/home/w2_i3_4.jpg"></a>
		</div>
		<a href="" class="w2_btn">查看老鹰更多成绩<i></i></a>
	</div>
	<div class="w3">
		<h1>招生简章</h1>
		<ul class="w3_banner">
			<li><a href=""><img src="../static/img/home/w3_i0.jpg"></a></li>
			<li><a href=""><img src="../static/img/home/w3_i1.jpg"></a></li>
			<li><a href=""><img src="../static/img/home/w3_i2.jpg"></a></li>
			<li><a href=""><img src="../static/img/home/w3_i3.jpg"></a></li>
			<li><a href=""><img src="../static/img/home/w3_i4.jpg"></a></li>
			<li><a href=""><img src="../static/img/home/w3_i5.jpg"></a></li>
			<li><a href=""><img src="../static/img/home/w3_i6.jpg"></a></li>
		</ul>
		<hr class="gray">
	</div>
	<div class="w4">
		<dl class="w4_box">
			<dt>
				<p class="w4_btn1 chose" data-order="1">咨&nbsp;询</p>
				<p class="w4_btn2" data-order="2">微课堂</p>
			</dt>
			<dd>
				<ul class="w4_txt1">
					<li>
						<a href="">
							<h5>咨询咨询美术联考什么标准？如何阅卷？怎么分档？HJBNDAFGFGFSD</h5>
							<h6>Fri., Oct. 20, 2017</h6>
						</a>
					</li>
					<li>
						<a href="">
							<h5>咨询咨询美术联考什么标准？如何阅卷？怎么分档？</h5>
							<h6>Fri., Oct. 20, 2017</h6>
						</a>
					</li>
					<li>
						<a href="">
							<h5>咨询咨询美术联考什么标准？如何阅卷？怎么分档？</h5>
							<h6>Fri., Oct. 20, 2017</h6>
						</a>
					</li>
				</ul>
				<ul class="w4_txt2">
					<li>
						<a href="">
							<h5>微课堂美术联考什么标准？如何阅卷？怎么分档？</h5>
							<h6>Fri., Oct. 20, 2017</h6>
						</a>
					</li>
					<li>
						<a href="">
							<h5>微课堂美术联考什么标准？如何阅卷？怎么分档？</h5>
							<h6>Fri., Oct. 20, 2017</h6>
						</a>
					</li>
					<li>
						<a href="">
							<h5>微课堂美术联考什么标准？如何阅卷？怎么分档？</h5>
							<h6>Fri., Oct. 20, 2017</h6>
						</a>
					</li>
				</ul>
			</dd>
		</dl>
		<a href="" class="w4_btn">更多咨询<i></i></a>
		<hr class="gray">
	</div>
	<div class="w5">
		<h1>服务专区</h1>
		<ul>
			<li><p class="w5_btn1" data-order="1">我要报名</p></li>
			<li><p class="w5_btn2" data-order="2">报名流程</p></li>
			<li><p class="w5_btn3" data-order="3">付款方式</p></li>
			<li><p class="w5_btn4" data-order="4">课程规划</p></li>
			<li><p class="w5_btn5" data-order="5">作息时间</p></li>
			<li><p class="w5_btn6" data-order="6">乘车路线</p></li>
			<li><p class="w5_btn7" data-order="7">住宿安排</p></li>
			<li><p class="w5_btn8" data-order="8">医疗保健</p></li>
			<li><p class="w5_btn9" data-order="9">快递收发</p></li>
		</ul>
		<a href="" class="w5_banner"><img src="../static/img/home/w5_b.jpg"></a>
		<hr class="gray">
	</div>
	<div class="w6">
		<h1>校区介绍</h1>
		<ul class="w6_btn">
			<li><p class="w6_btn1 chose" data-order="1">富阳校区</9></li>
			<li><p class="w6_btn2" data-order="2">银湖校区</9></li>
			<li><p class="w6_btn3" data-order="3">象山精品校区</9></li>
			<li><p class="w6_btn4" data-order="4">义乌校区</9></li>
			<li><p class="w6_btn5" data-order="5">深圳校区</9></li>
			<li><p class="w6_btn6" data-order="6">衢州校区</9></li>
			<li><p class="w6_btn7" data-order="7">温州校区</9></li>
		</ul>
		<ul class="w6_ctn">
			<li class="w6_ctn1">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>富阳校区</h6>
				<p>老鹰画室富阳校区坐落于杭州市富阳区金桥北路，整体占地面积50余亩，教职员工两百余人，是老鹰画室规模最大的校区。富阳校区校舍环境为标准中学配置，建筑面积达2万余方米，并配备有操场、篮球场等活动场地。文化课教室、多媒体教师、阶梯教室、食堂、超市、洗衣房、保安室、监控室等硬件设施齐全、功能完备。</p>
			</li>
			<li class="w6_ctn2">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>银湖校区</h6>
				<p>银湖校区、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、</p>
			</li>
			<li class="w6_ctn3">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>象山精品校区</h6>
				<p>象山精品校区、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、</p>
			</li>
			<li class="w6_ctn4">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>义乌校区</h6>
				<p>义乌校区、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、</p>
			</li>
			<li class="w6_ctn5">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>深圳校区</h6>
				<p>深圳校区、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、</p>
			</li>
			<li class="w6_ctn6">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>衢州校区</h6>
				<p>衢州校区、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、</p>
			</li>
			<li class="w6_ctn7">
				<img src="../static/img/home/w6_i1.jpg">
				<h6>温州校区</h6>
				<p>温州校区、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、内容待填、</p>
			</li>
		</ul>
	</div>
</div>
<!-- 弹出框 -->
<div class="w5_msg msg">
    <div class="msg_bg"></div>
    <div class="msg_content">
        <div class="msg_box">
			<div class="msg_close">&times;</div>
			<ul>
				<li class="w5_msg_ctn1">
					<h1>我要报名</h1>
					<div class="w5_msg_ctn">
						<p>以下报名方式选择一则你最方便的方式即可，无需重复报名。老鹰画室享有最终解释权。</p>
						<h5>一、线上预报名（★推荐★）</h5>
						<p><a href=""><u>点击此处进入线上报名通道</u></a>，填写资料即可报名成功。</p>
						<h5>二、短信报名</h5>
						<p>(请勿重复发送报名短信给不同老师)沟通后汇预报名定金预留床位。</p>
						<p>(入学时仍须参加入学摸底测试，只是让老师了解学生基础情况，入学后更针对性教学。)</p><br>
						<p>将<u>学生姓名、性别、就读高中、通讯地址、联系电话</u>以短信方式发送至</p><br>
						<p>【&nbsp;杭州富阳校区&nbsp;】187-5826-1191&nbsp;胡老师</p><br>
						<p>【&nbsp;杭州银湖校区&nbsp;】159-6711-6050&nbsp;张老师</p><br>
						<p>【&nbsp;杭州象山校区&nbsp;】189-6900-4082&nbsp;苗老师</p><br>
						<p>【&nbsp;&emsp;深圳校区&emsp;&nbsp;】136-3151-6708&nbsp;陈老师</p><br>
						<p>【&nbsp;&emsp;义乌校区&emsp;&nbsp;】187-5755-9276&nbsp;周老师</p><br>
						<p>【温州(浙南)校区】189-5889-9897&nbsp;晏老师</p><br>
						<p>【&nbsp;&emsp;衢州校区&emsp;&nbsp;】189-6905-9576&nbsp;陈老师</p><br>
						<h5>三、QQ/微信报名</h5>
						<p>查找微信公众号“杭州老鹰画室”“hzlyhs2001”或添加官方QQ：3370198163</p>
						<p>添加时备注：预报名学生，将学生姓名、性别、就读高中、通讯地址、联系电话以信息的方式发送至公众微信号后台或QQ即可。</p>
						<h5>四、现场报名</h5>
						<p>家长或学生本人到老鹰画室现场咨询、报名、交费。</p>
					</div>
				</li>
				<li class="w5_msg_ctn2">
					<h1>报名流程</h1>
					<div class="w5_msg_ctn">
						<p>step1：预报名</p>
						<p>任选一种报名方式，填写预报名表格&emsp;>>>&emsp;总务老师短信或电话回访（可说明住宿要求）&emsp;>>>&emsp;根据要求提交预报名定金&emsp;>>>&emsp;报名完成</p><br>
						<p>step2：开学报道</p>
						<p>正常情况按照预报名填写时间开学，若提前来或者推迟来学校报道请与总务老师联系，随到随学，具体费用按照你实际到达学校之日起算。（关于画材，生活用品等在学校内接可购买，文化课本学校会提供一套全新的）</p><br>
						<p>step3：开学测试</p>
						<p>学生到达学校后，会由老师安排进行开学测试，内容以素描头像临摹为主，开学测试目的在于及时了解学生的专业水平，入学后更能针对性的教学，并非考试，不会因为开学测试而拒收学生或分班。</p><br>
						<p>step4：正式开课</p>
						<p>开学之后听从专业课老师的安排进行正常的上课。</p><br>
					</div>
				</li>
				<li class="w5_msg_ctn3">
					<h1>付款方式</h1>
					<div class="w5_msg_ctn">
						<p>只接受公账银行汇款（支持支付宝转账，户名即为对应校区公司名）或现场刷卡缴费，相关账户以老鹰画室官方发布为准。</p>
						<p>汇款时请确认报名校区，并准确备注报名学生姓名，以便财务查询区分。</p><br>
						<p><em>杭州富阳校区( 杭州老鹰教育科技股份有限公司 )</em></p>
						<p>行号：402331001202</p>
						<p>浙江省农村信用社联合社（杭州龙坞支行）</p>
						<p>账号：201000078713485</p><br>
						<p><em>杭州银湖校区 ( 杭州富阳老鹰文化创意有限公司 )</em></p>
						<p>行号：402331001202</p>
						<p>浙江省农村信用联合社（杭州龙坞支行）</p>
						<p>账号：201000140060187</p><br>
						<p><em>杭州象山校区( 杭州老鹰文化艺术有限公司 )</em></p>
						<p>行号：402331001202</p>
						<p>浙江省农村信用联合社（杭州龙坞支行）</p>
						<p>账号：201000111098455</p><br>
						<p><em>深圳校区（深圳老鹰艺术创意有限公司）</em></p>
						<p>银行账户：755930949510201</p>
						<p>开户银行：招商银行盐田支行（深圳市）</p><br>
						<p><em>义乌校区（义乌市老鹰文化创意有限公司）</em></p>
						<p>账号：53010154740023748</p>
						<p>开户银行：上海浦东发展银行股份有限公司义乌分行</p><br>
						<p><em>温州（浙南）校区（温州老鹰文化创意有限公司）</em></p>
						<p>银行账户：201000170605480</p>
						<p>开户银行（不能简化）：浙江温州瓯海农村商业银行股份有限公司开发区支行开发区分理处</p><br>
						<p><em>衢州校区</em></p>
						<p>银行账户联系 133 2610 1171 李老师</p>
					</div>
				</li>
				<li class="w5_msg_ctn4">
					<h1>课程规划</h1>
					<div class="w5_msg_ctn">
						<p>素描：静物、石膏、头像、半身像、全身像等</p>
						<p>色彩：风景、静物、头像、半身像等</p>
						<p>速写：单个人物、组合人物、场景、临摹大师作品等</p><br>
						<p>艺术鉴赏: </p>
						<p>每周开放</p><br>
						<p>设计：</p>
						<p>①针对央美、清华设计。</p>
						<p>②针对其它校考设计（如天津美院、鲁迅美院、江南、东华、四川美院等其他院校）</p>
					</div>
				</li>
				<li class="w5_msg_ctn5">
					<h1>作息时间</h1>
					<div class="w5_msg_ctn">
						<p><em>富阳、银湖：</em></p>
						<table border="1">
							<tr>
								<th>上午</th>
								<td>上课时间8:20<br>课间休息时间9:50-10:05<br>放学时间11:30</td>
							</tr>
							<tr>
								<th>下午</th>
								<td>上课时间13:50<br>课间休息时间15:20-15:35<br>放学时间17:00</td>
							</tr>
							<tr>
								<th>晚上</th>
								<td>上课时间18:20<br>课间休息时间19:45-20:00<br>放学时间21:20<br>加课时间晚上上课时间21:40<br>放学时间23:30</td>
							</tr>
						</table>
						<p><em>象山精品:</em></p>
						<table border="1">
							<tr>
								<th>上午</th>
								<td>早餐时间：7:40 - 8:10<br>预备铃：8:15<br>上课时间：8:20<br>课间休息：9:50 - 10:00<br>下课时间：11:30<br>午休时间：12:00 - 13:30</td>
							</tr>
							<tr>
								<th>下午</th>
								<td>预备铃  ：13：45<br> 上课时间：13:50<br> 课间休息：15:00 - 15:10<br> 下课时间：17:00</td>
							</tr>
							<tr>
								<th>晚上</th>
								<td>预备铃  ：17:45<br>上课时间：17:50<br>课间休息：19:50 - 20:00<br>下课时间：21:00</td>
							</tr>
							<tr>
								<th>休息日</th>
								<td>加课时间：21:30 - 23:30<br>每周三白天休息<br>下午17:00返校  17:50照常上课</td>
							</tr>
						</table>
					</div>
				</li>
				<li class="w5_msg_ctn6">
					<h1>乘车路线</h1>
					<div class="w5_msg_ctn">
						<h5>1.富阳校区乘车路线</h5>
						<p>公交路线：滴滴打车或者优步打车已全市覆盖</p><br>
						<p><u>杭州火车东站——富阳校区</u></p>
						<p>大巴车至“高桥站”下，乘面包车（10-15元）至老鹰画室</p><br>
						<p><u>杭州火车城站——富阳校区</u></p>
						<p>大巴车至“高桥站”下，乘面包车（10-15元）至老鹰画室</p><br>
						<p><u>杭州汽车南站——老鹰画室富阳校区</u></p>
						<p>①富阳大巴车至“高桥站”下 </p>
						<p>②乘20/196路至“复兴路北口”，转乘514a线至“高桥站”</p><br>
						<p><u>杭州汽车北站——富阳校区</u></p>
						<p>乘188路至“延安路湖滨”下，至“菩提寺路站”乘514a线/杭富商务专线至“高桥站”下</p><br>
						<p><u>杭州汽车西站——富阳校区</u></p>
						<p>乘坐596路,至“高桥站”下</p><br>
						<p><u>杭州萧山机场——富阳校区</u></p>
						<p>①乘坐机场大巴至富阳新车站（每日三个班次），乘面包车（20元） 至老鹰画室</p>
						<p>②乘坐机场大巴至杭州火车城站，富阳大巴车至“高桥站”下，乘面包车（10-15元）至老鹰画室</p><br>
						<p>叫车电话：叶13858155803、郑 13067728639</p>
						<h5>2.银湖校区乘车路线</h5>
						<p><u>杭州火车东站——银湖校区</u></p>
						<p>杭州火车东站步行1.3公里（19分钟）至火车东站西公交站上车（597路公交车），乘坐至受降公交站下车（1小时18分），步行530米（8分钟）至老鹰画室银湖校区</p><br>
						<p><u>杭州火车南站——银湖校区</u></p>
						<p>杭州火车南站步行405米（6分钟）至萧山站前路公交站上车（300路），乘坐至总管塘公交站下车（47分钟），步行136米（2分钟）至总管塘公上车（商务2号线），乘坐至受降公交站下车（1小时2分），步行474米（7分钟）至老鹰画室银湖校区</p><br>
						<p>杭州城站火车站----银湖校区</p>
						<p>杭州城站火车站步行809米（12分钟）至葵巷公交站上车（商务2号线），乘坐至受降公交站下车（1小时4分），步行474米（7分钟）至老鹰画室银湖校区</p><br>
						<p><u>杭州萧山机场——银湖校区</u></p>
						<p>杭州萧山机场步行至萧山国际机场公交站上车（机场大巴汽车西站线），乘坐至杭州汽车西站（46分钟）下车换乘，步行356米至杭州西站公交站上车（杭州汽车北站—富阳客运南站线），乘坐至受降公交站下车（40分钟），步行470米(7分钟）至老鹰画室银湖校区</p><br>
						<p><u>杭州汽车南站——银湖校区</u></p>
						<p>杭州汽车南站步行130米（2分钟）至汽车南站秋涛路公交站上车（597路公交车），乘坐至受降公交站下车（57分钟），步行470米(7分钟）至老鹰画室银湖校区</p>
						<h5>3.象山精品校区乘车路线</h5>
						<p><u>杭州火车东站——象山精品校区</u></p>
						<p>杭州东站地铁坐1号线（湘湖方向）定安路下车，乘坐308路公交车 马浦站下车步行50m左右至老鹰画室象山校区  </p><br>
						<p><u>杭州城站火车站——象山精品校区</u></p>
						<p>杭州城站火车站乘坐39路公交车 象山站下车，向西步行200m左右至老鹰画室象山校区  </p><br>
						<p><u>杭州萧山机场——象山精品校区</u></p>
						<p>杭州萧山机场乘坐机场大巴至城站火车站下车，乘坐39路公交车象山站下车，向西步行200m左右至老鹰画室象山校区 </p><br>
						<p><u>杭州南站汽车站——象山精品校区</u></p>
						<p>杭州南站汽车站乘坐39路公交车 象山站下车，向西步行200m左右至老鹰画室象山校区   </p><br>
						<p><u>杭州西站汽车站——象山精品校区</u></p>
						<p>杭州西站汽车站步行1.2公里至符苑新村站，坐121路公交车至江口站下车，步行800米左右即可到达老鹰画室象山校区</p><br>
						<p><u>杭州北站汽车站——象山精品校区</u></p>
						<p>杭州北站汽车站坐67路公交车至西湖文化广场站下，乘坐地铁1号线（湘湖方向）定安路下车，乘坐308路公交车 马浦站下车步行50m左右至老鹰画室象山校区  </p><br>
						<p>路线咨询：0571—86406750，15158836261（郑）</p>
					</div>
				</li>
				<li class="w5_msg_ctn7">
					<h1>住宿安排</h1>
					<div class="w5_msg_ctn">
						<h5>寝室安排</h5>
						<p><u>1、富阳校区有四人间，六人间，八人间供选择</u></p>
						<p>住宿条件：房间配备上下铺高级木头床（长1.9mX宽1m)、空调、热水器、独立卫生间</p>
						<p><u>2、银湖校区有四人间，六人间</u></p>
						<p>住宿条件：房间配备上下铺高级木头床（长1.9mX宽1m)、空调、热水器、独立卫生间</p>
						<p><u>3、象山精品校区有四人间，六人间供选择</u></p>
						<p>住宿条件：房间配备上下铺高级木头床（长1.9mX宽1m)、空调、独立卫生间。</p>
						<p>温馨提示：为方便学生节省时间学习，校园内设有洗衣机，学生可自行使用。</p><br>
						<p>住宿床上用品要求（入学时发放）</p>
						<p>垫子：2m X 0.9m&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;被罩: 2.2m X 1.5m</p>
						<p>枕心：0.58m X 0.36m&emsp;&emsp;&emsp;&emsp;&emsp;被子: 2.1m X 1.45m</p>
						<p>床单：2.15m X 1.1m&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;枕套：0.6m X 0.4m</p>
						<p>蚊帐：1.95m X 0.9m X 1.5m&emsp;&emsp;&emsp;凉席：1m X 2.1m</p>
						<p>棉被一条、垫被一条、被套一个、床单一个、枕套一个、枕头一个、凉席一床</p>
						<p>合计：350元</p>
						<p>说明：根据自愿原则购买</p><br>
						<h5>行李物品</h5>
						<p>床上物品报到当天在宿舍整理，贵重物品（手机、现金等贵重物品个人随身携带，不宜搁放宿舍）</p>
						<h5>洗浴和开水供应</h5>
						<p><u>富阳校区：</u></p>
						<p>洗浴（夏季：7月1日——9月30日）</p>
						<p>浴室开放时间：</p>
						<p>11：30 —— 13：20　　</p>
						<p>16：00 —— 18：00　　</p>
						<p>21：00 —— 23：00</p>
						<p>开水供应：食堂全天供应</p><br>
						<p><u>银湖校区：</u>待定</p><br>
						<p><u>象山精品校区：</u></p>
						<p>热水供应时间：</p>
						<p>16：30 —— 17：50  </p>
						<p>21：00 —— 01：00</p>
						<p>开水供应：食堂全天供应</p>
					</div>
				</li>
				<li class="w5_msg_ctn8">
					<h1>医疗保健</h1>
					<div class="w5_msg_ctn">
						<p>富阳校区：</p>
						<p>总务处配有常用药品，学员可到总务找寻辅导员索要。如需要购药可打车到高桥镇上有药店，就近医院：富阳中医院及富阳人民医院（如学员需人员陪同就诊，校方会根据情况安排教师陪同）</p><br>
						<p>银湖校区：</p>
						<p>总务处配有常用药品，学员可到总务找寻辅导员索要。如需要购药可打车到高桥镇上有药店，就近医院：富阳中医院及富阳人民医院（如学员需人员陪同就诊，校方会根据情况安排教师陪同）</p><br>
						<p>象山精品校区：</p>
						<p>总务处配有常用药品，学员可到总务处找老师索要。如需要购药或看病可乘坐109路公交到转塘镇上有药店、门诊及西湖二院。（如学员需人员陪同就诊，校方会根据情况安排教师陪同）</p>
					</div>
				</li>
				<li class="w5_msg_ctn9">
					<h1>快递收发</h1>
					<div class="w5_msg_ctn">
						<h5>富阳、银湖校区有丰巢自助取件机，象山精品校区有快递室</h5><br><br>
						<p>富阳校区通信地址：浙江省杭州富阳市高桥镇金桥北路916号老鹰画室</p><br>
						<p>银湖校区通信地址：杭州市富阳区银湖街道通政路1号</p><br>
						<p>象山精品校区通信地址：浙江省杭州市转塘镇美院南门对面象山国际广场一号楼三楼</p>
					</div>
				</li>
			</ul>
        </div>
    </div>
</div>
<!-- 公用底部 start -->
<div class="footer">
    <div class="ft_hd">
        <a class="ft_logo"><img src="../static/img/ft_logo.png"></a>
        <a class="ft_ewm"><img src="../static/img/ft_ewm.png"></a>
    </div>
    <div class="ft_navs">
        <ul>
            <li><a href="">成绩</a></li>
            <li><a href="">招生</a></li>
            <li><a href="">资讯</a></li>
            <li><a href="">团队</a></li>
            <li><a href="">视频</a></li>
            <li><a href="">作品</a></li>
            <li><a href="">微课堂</a></li>
            <li><a href="">关于</a></li>
            <li><a href="">线上报名</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>CopyRight © 2008 - 2016 杭州老鹰教育科技股份有限公司 版权所有 浙ICP备11043441号-2</p>
    </div>
    <div class="ft_about">
        <a href="">最新成绩</a>
        <a href="">招生简章</a>
        <a href="">资讯</a>
        <a href="">服务专区</a>
        <a href="">校区介绍</a>
    </div>
</div>
<!-- 公用底部 end -->
<script type="text/javascript">

function wScrollPosition(val) {//计算高度
	var position = new Array();
	position[0] = $(".w1").height();
	position[1] = $(".w2").height()+position[0];
	position[2] = $(".w3").height()+position[1];
	position[3] = $(".w4").height()+position[2];
	position[4] = $(".w5").height()+position[3];
	return position[val];
}
function btnAct() {//页面按钮
	$(".w1_btn_jump").click(function() {//页面内跳转
		var val = $(this).data("order")
		$("html").scrollTop(wScrollPosition(val))
	})
	$(".w5_msg .msg_close").click(function() {//弹出框关闭
 		$(".w5_msg").animate({opacity:0}, 200, function(){
 			$(".w5_msg").hide().css('opacity',1);
 			$(".w5_msg li").hide();
 		});
 	});
	$(".w4_box dt p").click(function() {
		$(".w4_box dt p").removeClass("chose")
		$(this).addClass("chose")
		var val = $(this).data("order")
		$(".w4_box ul").hide();
		$(".w4_txt"+val).show();
	})
	$(".w5 li p").click(function() {
		$(".w5 li p").removeClass("chose")
		$(this).addClass("chose")
		var val = $(this).data("order")
		$(".w5_msg").show();
		$(".w5_msg_ctn"+val).show();
	})
	$(".w6_btn li p").click(function() {
		$(".w6_btn li p").removeClass("chose")
		$(this).addClass("chose")
		var val = $(this).data("order")
		$(".w6_ctn li").hide();
		$(".w6_ctn .w6_ctn"+val).show();
	})
}
function main() {
	btnAct();
}
$(function() {
	main();
})
</script>
</body>
</html>