<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="format-detection" content="telephone=no" />
<title>老鹰画室 成绩</title>

<!-- 公用css及js start -->
<link rel="stylesheet" href="../static/css/common.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<!-- 公用css及js end -->
<link rel="stylesheet" href="../static/css/report.css" />

</head>
<body>
<!-- 公用搜索 start -->
    <div class="navbar_wrap">
        <div class="navbar_header">
            <div class="navbar_hd">
                <a href="" class="logo"><img src="../static/img/ft_logo.png" alt="logo"></a>
                <span class="navbar_close"><i></i></span>
            </div>
            <div class="navbar_collapse">
                <div class="navbar_search">
                    <form action=""  method="post">
                        <input type="text" placeholder="搜索一下" id="search" class="ipt_txt" name="search">
                        <button type="submit" class="search_btn"><i class="search_icon"></i></button>
                    </form>
                </div>
                <div class="navbar_nav">
                    <dl>
                        <dt><em>jlfajdflajsdfssssss</em><span class="fr navbar_arrow"><i></i></span></dt>
                        <dd>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><em>tttt</em><span class="fr navbar_arrow"><i></i></span></dt>
                        <dd>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                        </dd>
                    </dl>
                </div>
                <div class="navbar_contact">
                    <a href="" class="navbar_qq"><img src="../static/img/qq.png" alt=""></a>
                    <a href="" class="navbar_sina"><img src="../static/img/sina.png" alt=""></a>
                    <a href="" class="navbar_wx"><img src="../static/img/wx.png" alt=""></a>
                    <a href="tel:4001178866" class="navbar_tel">TEL:400-117-8866</a>
                </div>
            </div>
        </div>
        <div class="navbar_dialog"></div>
    </div>
    

    <!-- 隐藏菜单按钮 -->
    <button class="navbar_toggle"><span class="icon_bar"></span><span class="icon_bar"></span><span class="icon_bar"></span></button>
<!-- 公用搜索 end -->


<!-- container start -->

    <div class="container">
        <div class="banner_sm">
            <img src="../static/img/banner/banner_sm1.jpg">
            <h4><a href="">首 页</a> - 成绩</h4>
            <p class="txt ft_45">成&nbsp;&nbsp;&nbsp;绩</p>
        </div>        
        <div class="report_navs">
            <a href="" class="on">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a><a href="">2018</a>
        </div>

        <div class="report_cnt">
            <div class="report_title">
                <h3>「2018年成绩综述</h3>
                <em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详细成绩请将页面移至底部」</em>
            </div>
            <div class="content rp_content">
                <p>浙江联考</p>
                <p>2018年老鹰画室浙江省联考斩获5名状元</p>
                <p>全省最高分 96分/5人(并列全省第一名)</p>
                <p>全省第二高分 95分/5人</p>
                <p>全省第三高分 94分/7人</p>
                <p>93分以上26人(93分全省第55名)</p>
                <p>92分以上50人(92分全省第103名)</p>
                <p>91分以上81人(91分全省第214名)</p>
                <p>90分以上127人(90分全省第370名)</p>
                <p>89分以上201人(89分全省第642名)</p>
                <p>86分以上505人</p>
                <p>83分以上860人</p>
                <p>------------------------------</p>
                <p>浙江全省90分以上人数占浙江省考生人数比例为3.27%</p>
                <p>老鹰画室90分以上人数占画室浙江省考生人数比例为13.05%</p>
                <br>
                <p>浙江全省89分以上人数占浙江省考生人数比例为5.23%</p>
                <p>老鹰画室89分以上人数占画室浙江省考生人数比例为20.66% </p>
                <br>
                <p>浙江全省86分以上人数占浙江省考生人数比例为16.5%</p>
                <p>老鹰画室86分以上人数占画室浙江省考生人数比例为51.9% </p>
                <br>
                <p>浙江全省83分以上人数占浙江省考生人数比例为37.02%</p>
                <p>老鹰画室83分以上人数占画室浙江省考生人数比例为88.39% </p>
                <p>-------------------------------------</p>
                <p>共取得单科90分以上高分卷761张</p>
                <p>单科最高分98/97分高分卷78张</p>
                <p>单科 96分以上高分卷172张</p>
                <p>单科 95分以上高分卷240张</p>
                <br>
                <div class="report_txt_drawer">
                    <p>2018-02-06 10:43</p>
                    <p>2018年中国美术学院“三位一体”老鹰画室成绩捷报</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:39</p>
                    <p>2018年甘肃、河南、江苏、湖北联考成绩</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:40</p>
                    <p>2018年安徽联考成绩</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:40</p>
                    <p>2018年广西联考成绩</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:41</p>
                    <p>2018年四川联考成绩</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:42</p>
                    <p>2018年陕西联考成绩</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:43</p>
                    <p>2018年福建联考成绩</p>
                </div>
                <div class="report_txt_drawer">
                    <p>2018-01-30 22:43</p>
                    <p>2018年浙江联考成绩</p>
                </div>
            </div>
        </div>

    </div>
<!-- container end -->


<!-- 公用底部 start -->
    <div class="footer">
        <div class="ft_hd">
            <a class="ft_logo"><img src="../static/img/ft_logo.png"></a>
            <a class="ft_ewm"><img src="../static/img/ft_ewm.png"></a>
        </div>
        <div class="ft_navs">
            <ul>
                <li><a href="">成绩</a></li>
                <li><a href="">招生</a></li>
                <li><a href="">资讯</a></li>
                <li><a href="">团队</a></li>
                <li><a href="">视频</a></li>
                <li><a href="">作品</a></li>
                <li><a href="">微课堂</a></li>
                <li><a href="">关于</a></li>
                <li><a href="">线上报名</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>CopyRight © 2008 - 2016 杭州老鹰教育科技股份有限公司 版权所有 浙ICP备11043441号-2</p>
        </div>
        <div class="ft_about">
            <a href="">最新成绩</a>
            <a href="">招生简章</a>
            <a href="">资讯</a>
            <a href="">服务专区</a>
            <a href="">校区介绍</a>
        </div>
    </div>
<!-- 公用底部 end -->
</body>
</html>