<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="format-detection" content="telephone=no" />
<title>老鹰画室 报名简章</title>

<!-- 公用css及js start -->
<link rel="stylesheet" href="../static/css/common.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<!-- 公用css及js end -->
<link rel="stylesheet" href="../static/css/report.css" />

</head>
<body>
<!-- 公用搜索 start -->
    <div class="navbar_wrap">
        <div class="navbar_header">
            <div class="navbar_hd">
                <a href="" class="logo"><img src="../static/img/ft_logo.png" alt="logo"></a>
                <span class="navbar_close"><i></i></span>
            </div>
            <div class="navbar_collapse">
                <div class="navbar_search">
                    <form action=""  method="post">
                        <input type="text" placeholder="搜索一下" id="search" class="ipt_txt" name="search">
                        <button type="submit" class="search_btn"><i class="search_icon"></i></button>
                    </form>
                </div>
                <div class="navbar_nav">
                    <dl>
                        <dt><em>jlfajdflajsdfssssss</em><span class="fr navbar_arrow"><i></i></span></dt>
                        <dd>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><em>tttt</em><span class="fr navbar_arrow"><i></i></span></dt>
                        <dd>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                        </dd>
                    </dl>
                </div>
                <div class="navbar_contact">
                    <a href="" class="navbar_qq"><img src="../static/img/qq.png" alt=""></a>
                    <a href="" class="navbar_sina"><img src="../static/img/sina.png" alt=""></a>
                    <a href="" class="navbar_wx"><img src="../static/img/wx.png" alt=""></a>
                    <a href="tel:4001178866" class="navbar_tel">TEL:400-117-8866</a>
                </div>
            </div>
        </div>
        <div class="navbar_dialog"></div>
    </div>
    

    <!-- 隐藏菜单按钮 -->
    <button class="navbar_toggle"><span class="icon_bar"></span><span class="icon_bar"></span><span class="icon_bar"></span></button>
<!-- 公用搜索 end -->

<!-- container start -->

    <div class="container">
        <div class="banner_sm">
            <img src="../static/img/banner/banner_sm1.jpg">
            <p class="txt ft_30">2019届预报名简章</p>
        </div>
        <div class="report_cnt">
            <div class="content sg_content">

<p>杭州老鹰画室始创于2001年，现有银湖、富阳、象山，深圳、义乌、温州（浙南）、和衢州校区七个校区。</p>

<p>基于2017届浙江省高考改革，4月份选考结束后将有一批同学提前到校培训，去年5-6月份预报名爆满，很多想学但是因为床位限制的例子屡见不鲜，就同学和家长们较为关心的预报名问题，我们今年决定提前开启2019届预报名通道。</p>

<p>因床位有限，床位预留以缴费及总务处根据实际情况安排为准，敬请谅解。</p>

<p>招生范围</p>

<p>1.招生对象：<br>
高中在校学生</p>

<p>2.招生要求：<br>
能服从封闭式、高强度管理</p>

<p>3.不招收以下学生：<br>
a、嗜烟酒者<br>
b、有传染病、精神疾病等疾病者</p>
<br>
<p>01-报名方式</p>

<p>下报名方式选择一则你最方便的方式即可，无需重复报名。老鹰画室享有最终解释权。</p>

<p>一、线上预报名（★推荐★）</p>

<p>点击此处进入线上报名通道   ，填写资料即可报名成功。</p>

<p>二、短信报名（请勿重复发送报名短信给不同老师）沟通后汇预报名定金预留床位。</p>

<p>（入学时仍须参加入学摸底测试，只是让老师了解学生基础情况，入学后更针对性教学。）</p>

<p>将学生姓名、性别、就读高中、通讯地址、联系电话以短信方式发送至</p>

<p>【杭州富阳校区】187 5826 1191 胡老师</p>

<p>【杭州银湖校区】159 6711 6050 张老师</p>

<p>【杭州象山校区】189 6900 4082 苗老师</p>

<p>【   深圳校区   】136 3151 6708 陈老师</p>

<p>【   义乌校区   】187 5755 9276  周老师</p>

<p>【温州（浙南）校区】189 5889 9897  晏老师</p>

<p>【   衢州校区   】189 6905 9576  陈老师</p>

<p>三、QQ/微信报名</p>

<p>查找微信公众号“杭州老鹰画室”“hzlyhs2001”或添加官方QQ：3370198163</p>

<p>添加时备注：预报名学生，将学生姓名、性别、就读高中、通讯地址、联系电话以信息的方式发送至公众微信号后台或QQ即可。</p>

<p>四、现场报名<br>
家长或学生本人到老鹰画室现场咨询、报名、交费。</p>

<br>
<p>02-汇款账号</p>

<p>杭州富阳校区( 杭州老鹰教育科技股份有限公司 )<br>
行号：402331001202<br>
浙江省农村信用社联合社（杭州龙坞支行）<br>
账号：201000078713485</p>

<p>杭州银湖校区 ( 杭州富阳老鹰文化创意有限公司 )<br>
行号：402331001202<br>
浙江省农村信用联合社（杭州龙坞支行）<br>
账号：201000140060187</p>

<p>杭州象山校区( 杭州老鹰文化艺术有限公司 )<br>
行号：402331001202<br>
浙江省农村信用联合社（杭州龙坞支行）<br>
账号：201000111098455</p>

<p>深圳校区（深圳老鹰艺术创意有限公司）<br>
银行账户：755930949510201<br>
开户银行：招商银行盐田支行（深圳市）</p>

<p>义乌校区（义乌市老鹰文化创意有限公司）<br>
账号：53010154740023748<br>
开户银行：上海浦东发展银行股份有限公司义乌分行</p>

<p>温州（浙南）校区（温州老鹰文化创意有限公司）<br>
银行账户：201000170605480<br>
开户银行（不能简化）：浙江温州瓯海农村商业银行股份有限公司开发区支行开发区分理处</p>

<p>衢州校区<br>
银行账户联系 133 2610 1171 李老师</p>

<p>注：只接受公账汇款（支持支付宝转账，户名即为对应校区公司名）或现场刷卡缴费，相关账户以老鹰画室官方发布为准。汇款时请确认报名校区，并准确备注报名学生姓名，以便财务查询区分。</p>

<br>
<p>03-班级设置</p>

<p></p>1、平行班（每位老师带22—28位学生）<br>
2、精品班（每位老师带12—18位学生）<br>
3、校长班（由各区正副校长亲自负责并任教，限招）<br>
4、浙江省联考班（针对浙江联考设置并80分以上保分承诺）<br>
5、清华、央美班（同时针对性开设设计课程）</p>

<p>校长班、精品班和平行班区别：<br>
1、校长班、精品班实行区别化管理，更高的师生配比率。<br>
2、校长班教学由校长负责亲自授课管理，与金鹰班一起上课。<br>
3、精品班在师资方面有所倾斜，各教学组组长及学科带头人排课较多。<br>
4、校长班、精品班上课强度更大，每周安排五天以上加课课程，平行班一般在考前30天开始加课。</p>

<br>
<p>04-高复班</p>

<p>高复生收费按普通班标准1~8折收取（以2017年校考成绩及入学考试成绩来评定）。应届生经测试特别优异者也可享受相应折扣。在2017年校考院校中成绩名列前茅者（特别是中央美院、清华美院、中国美院等学校），我们将提供教育基金。</p>

<p>详情请咨询：<br>
杭州富阳校区<br>
蒋老师：15858197179<br>
许老师：18368148413<br>
屈老师：17751766866</p>

<p>杭州银湖校区<br>
张老师：13968152486<br>
方老师：15990137771<br>
陈老师：15958164110</p>

<p>杭州象山校区<br>
孙老师：13758231765<br>
林老师：13989466411</p>

<br>
<p>05-课程设置</p>

<p>素描：静物、石膏、头像、半身像、全身像等<br>
色彩：风景、静物、场景、头像、半身像等<br>
速写：单个人物、组合人物、场景、临摹大师作品等</p>

<p>艺术鉴赏:<br>
每周开放</p>

<p>设计：<br>
①针对央美、清华设计。<br>
②针对其它校考设计（如天津美院、鲁迅美院、江南、东华、四川美院等其他院校）</p>

<br>
<p>06-金鹰计划</p>

<p>一、 招生对象<br>
所有美术类考生（应届生、高复生）</p>

<p>二、 报名方式<br>
杭州富阳校区<br>
蒋老师：158 5819 7179<br>
许老师：183 6814 8413</p>

<p>杭州银湖校区<br>
张老师：139 6815 2486<br>
方老师：159 9013 7771</p>

<p>杭州象山校区<br>
孙老师：137 5823 1765<br>
林老师：139 8946 6411</p>

<p>三、 考试内容<br>
素描头像（3小时）；色彩静物（2.5小时）；速写人物（0.5小时）</p>

<p></p>四、 入围结果<br>
考试结束后1-2天内我们会进行严格的评分和筛选，结果会以短信和电话的形式通知入围学生。</p>

<p>费用免除细则<br>
1、全额补助老鹰画室美术培训学费。<br>
2、文化课成绩经老鹰文化课团队测试优秀者，可获得老鹰文化课保送名额或享受优惠折扣。<br>
3、贫困家庭、偏远地区及少数民族学生依据个人及家庭情况予以特殊补贴。<br>
4、中国美院、中央美院状元并被录取，画室提供第一年学费；清华美院状元并被录取，画室提供大学本科四年所有学费。</p>

<p>注：如未通过者高复生根据测试结果进行打折（1~7折不等），应届生水平较好者可进入优秀班级学习。</p>


            </div>
        </div>

        <div class="banner_sg">
            <img src="../static/img/banner/banner_sg1.jpg">
        </div>
    </div>
<!-- container end -->


<!-- 公用底部 start -->
    <div class="footer">
        <div class="ft_hd">
            <a class="ft_logo"><img src="../static/img/ft_logo.png"></a>
            <a class="ft_ewm"><img src="../static/img/ft_ewm.png"></a>
        </div>
        <div class="ft_navs">
            <ul>
                <li><a href="">成绩</a></li>
                <li><a href="">招生</a></li>
                <li><a href="">资讯</a></li>
                <li><a href="">团队</a></li>
                <li><a href="">视频</a></li>
                <li><a href="">作品</a></li>
                <li><a href="">微课堂</a></li>
                <li><a href="">关于</a></li>
                <li><a href="">线上报名</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>CopyRight © 2008 - 2016 杭州老鹰教育科技股份有限公司 版权所有 浙ICP备11043441号-2</p>
        </div>
        <div class="ft_about">
            <a href="">最新成绩</a>
            <a href="">招生简章</a>
            <a href="">资讯</a>
            <a href="">服务专区</a>
            <a href="">校区介绍</a>
        </div>
    </div>
<!-- 公用底部 end -->
</body>
</html>