<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="format-detection" content="telephone=no" />
<title>老鹰画室 团队</title>

<!-- 公用css及js start -->
<link rel="stylesheet" href="../static/css/common.css" />
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
<!-- 公用css及js end -->
<link rel="stylesheet" href="../static/css/team.css" />

</head>
<body>
<!-- 公用搜索 start -->
    <div class="navbar_wrap">
        <div class="navbar_header">
            <div class="navbar_hd">
                <a href="" class="logo"><img src="../static/img/ft_logo.png" alt="logo"></a>
                <span class="navbar_close"><i></i></span>
            </div>
            <div class="navbar_collapse">
                <div class="navbar_search">
                    <form action=""  method="post">
                        <input type="text" placeholder="搜索一下" id="search" class="ipt_txt" name="search">
                        <button type="submit" class="search_btn"><i class="search_icon"></i></button>
                    </form>
                </div>
                <div class="navbar_nav">
                    <dl>
                        <dt><em>jlfajdflajsdfssssss</em><span class="fr navbar_arrow"><i></i></span></dt>
                        <dd>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><em>tttt</em><span class="fr navbar_arrow"><i></i></span></dt>
                        <dd>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                            <a href="">aaaa</a>
                        </dd>
                    </dl>
                </div>
                <div class="navbar_contact">
                    <a href="" class="navbar_qq"><img src="../static/img/qq.png" alt=""></a>
                    <a href="" class="navbar_sina"><img src="../static/img/sina.png" alt=""></a>
                    <a href="" class="navbar_wx"><img src="../static/img/wx.png" alt=""></a>
                    <a href="tel:4001178866" class="navbar_tel">TEL:400-117-8866</a>
                </div>
            </div>
        </div>
        <div class="navbar_dialog"></div>
    </div>
    

    <!-- 隐藏菜单按钮 -->
    <button class="navbar_toggle"><span class="icon_bar"></span><span class="icon_bar"></span><span class="icon_bar"></span></button>
<!-- 公用搜索 end -->


<!-- container start -->
<div class="container">
    <div class="banner_sm">
        <img src="../static/img/banner/banner_sm2.jpg">
        <p class="txt ft_30">团&nbsp;&nbsp;&nbsp;队</p>
    </div>
    <div class="pro_nav">
        <ul>
            <li><p class="chose" data-order="1">专业课教师</p></li>
            <li><p data-order="2">文化课教师</p></li>
            <li><p data-order="3">行政教师</p></li>
            <li><p data-order="4">后勤团队</p></li>
        </ul>
    </div>
    <div class="pro_wrap">
        <ul class="team1">
            <li>
                <dl data-order="1">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="2">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>富阳校区校考一班色彩教学主管</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="3">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="4">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="5">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="6">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="7">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
            <li>
                <dl data-order="8">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>校长</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="team2">
            <li>
                <dl data-order="9">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>文化课</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="team3">
            <li>
                <dl data-order="10">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>文化课</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="team4">
            <li>
                <dl data-order="11">
                    <dt><img src="../static/img/team/teacher1_s.jpg" class="photo"></dt>
                    <dd>
                        <h5>陈萌</h5>
                        <h6>文化课</h6>
                        <div class="icon wx"><img src="../static/img/wx_c.png"></div>
                        <div class="icon sina"><img src="../static/img/sina_c.png"></div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="about_msg msg">
    <div class="msg_bg"></div>
    <div class="msg_content">
        <div class="msg_box">
            <div class="msg_close">&times;</div>
            <ul>
                <li class="msg_about_1">
                    <h1>陈萌介绍</h1>
                    <div class="about_msg_ctn">
                        <img src="../static/img/team/teacher1.jpg">
                        <h5>陈萌</h5>
                        <p>校长</p>
                        <p>1</p>
                    </div>
                </li>
                <li class="msg_about_2">
                    <h1>陈萌介绍</h1>
                    <div class="about_msg_ctn">
                        <img src="../static/img/team/teacher1.jpg">
                        <h5>陈萌</h5>
                        <p>校长</p>
                        <p>2</p>
                    </div>
                </li>
                <li class="msg_about_3">
                    <h1>陈萌介绍</h1>
                    <div class="about_msg_ctn">
                        <img src="../static/img/team/teacher1.jpg">
                        <h5>陈萌</h5>
                        <p>校长</p>
                        <p>3</p>
                    </div>
                </li>
                <li class="msg_about_4">
                    <h1>陈萌介绍</h1>
                    <div class="about_msg_ctn">
                        <img src="../static/img/team/teacher1.jpg">
                        <h5>陈萌</h5>
                        <p>校长</p>
                        <p>4</p>
                    </div>
                </li>
                <li class="msg_about_5">
                    <h1>陈萌介绍</h1>
                    <div class="about_msg_ctn">
                        <img src="../static/img/team/teacher1.jpg">
                        <h5>陈萌</h5>
                        <p>校长</p>
                        <p>5</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="about_s_msg msg">
    <div class="msg_bg"></div>
    <div class="msg_content">
        <div class="msg_box">
            <div class="msg_close">&times;</div>
            <ul>
                <li class="msg_about_s_1_1">
                    1wx
                </li>
                <li class="msg_about_s_1_2">
                    1sina
                </li>
                <li class="msg_about_s_2_1">
                    2wx
                </li>
                <li class="msg_about_s_2_2">
                    2sina
                </li>
                <li class="msg_about_s_3_1">
                    3wx
                </li>
                <li class="msg_about_s_3_2">
                    3sina
                </li>
                <li class="msg_about_s_4_1">
                    4wx
                </li>
                <li class="msg_about_s_4_2">
                    4sina
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- container end -->


<!-- 公用底部 start -->
    <div class="footer">
        <div class="ft_hd">
            <a class="ft_logo"><img src="../static/img/ft_logo.png"></a>
            <a class="ft_ewm"><img src="../static/img/ft_ewm.png"></a>
        </div>
        <div class="ft_navs">
            <ul>
                <li><a href="">成绩</a></li>
                <li><a href="">招生</a></li>
                <li><a href="">资讯</a></li>
                <li><a href="">团队</a></li>
                <li><a href="">视频</a></li>
                <li><a href="">作品</a></li>
                <li><a href="">微课堂</a></li>
                <li><a href="">关于</a></li>
                <li><a href="">线上报名</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>CopyRight © 2008 - 2016 杭州老鹰教育科技股份有限公司 版权所有 浙ICP备11043441号-2</p>
        </div>
        <div class="ft_about">
            <a href="">最新成绩</a>
            <a href="">招生简章</a>
            <a href="">资讯</a>
            <a href="">服务专区</a>
            <a href="">校区介绍</a>
        </div>
    </div>
<!-- 公用底部 end -->
<script type="text/javascript">
$(function() {
    $(".pro_nav p").click(function() {
        $(".pro_nav p").removeClass("chose")
        $(this).addClass("chose")
        var val = $(this).data("order")
        $(".pro_wrap ul").hide();
        $(".team"+val).show();
    })
    $(".about_msg .msg_close,.about_s_msg .msg_close").click(function() {//弹出框关闭
        $(".msg").animate({opacity:0}, 200, function(){
            $(".msg").hide().css('opacity',1);
            $(".msg li").hide();
        });
    });
    $(".pro_wrap dt img,.pro_wrap dd h5").click(function() {
        var val = $(this).parents("dl").data("order")
        $(".about_msg").show();
        $(".msg_about_"+val).show();
    })
    $(".pro_wrap dd .icon").click(function() {
        var val1 = $(this).parents("dl").data("order")
        var val2 = $(this).hasClass("wx")?1:2;
        $(".about_s_msg").show();
        $(".msg_about_s_"+val1+"_"+val2).show();
    })
})
</script>
</body>
</html>